body{
    background-image: url('fondo.jpg');
    color: #FFFFFF;
}
.columnas {
    display: flex;
    justify-content: center;

}
.col1 {
    background-color: rgba(241, 37, 37, 0.186);
    padding: 10px;
    margin: 1px;
}
.col2 {
    padding: 10px;
    margin: 1px;
}